In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from  sklearn.metrics import accuracy_score

In [42]:
data = pd.read_csv('/Users/qili/Documents/nyu/courses/db/project/project3/diabetes.csv')

In [43]:
data.shape

(768, 9)

In [44]:
train_data = data[0:691]
test_data = data[691:]

In [45]:
test_data.shape

(77, 9)

In [46]:
test_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
691,13,158,114,0,0,42.3,0.257,44,1
692,2,121,70,32,95,39.1,0.886,23,0
693,7,129,68,49,125,38.5,0.439,43,1
694,2,90,60,0,0,23.5,0.191,25,0
695,7,142,90,24,480,30.4,0.128,43,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [102]:
#original features

In [386]:
feature_Preg_orig_train_f = (train_data["Pregnancies"]-train_data["Pregnancies"].mean())/train_data["Pregnancies"].std()

In [82]:
feature_Preg_orig_test_f = (test_data["Pregnancies"]-train_data["Pregnancies"].mean())/train_data["Pregnancies"].std()

In [83]:
feature_Glucose_orig_train_f = (train_data["Glucose"]-train_data["Glucose"].mean())/train_data["Glucose"].std()

In [84]:
feature_Glucose_orig_test_f = (test_data["Glucose"]-train_data["Glucose"].mean())/train_data["Glucose"].std()

In [85]:
feature_Blood_orig_train_f = (train_data["BloodPressure"]-train_data["BloodPressure"].mean())/train_data["BloodPressure"].std()

In [86]:
feature_Blood_orig_test_f = (test_data["BloodPressure"]-train_data["BloodPressure"].mean())/train_data["BloodPressure"].std()

In [87]:
feature_Skin_orig_train_f = (train_data["SkinThickness"]-train_data["SkinThickness"].mean())/train_data["SkinThickness"].std()

In [88]:
feature_Skin_orig_test_f = (test_data["SkinThickness"]-train_data["SkinThickness"].mean())/train_data["SkinThickness"].std()

In [89]:
feature_Insulin_orig_train_f = (train_data["Insulin"]-train_data["Insulin"].mean())/train_data["Insulin"].std()

In [90]:
feature_Insulin_orig_test_f = (test_data["Insulin"]-train_data["Insulin"].mean())/train_data["Insulin"].std()

In [91]:
feature_BMI_orig_train_f = (train_data["BMI"]-train_data["BMI"].mean())/train_data["BMI"].std()

In [92]:
feature_BMI_orig_test_f = (test_data["BMI"]-train_data["BMI"].mean())/train_data["BMI"].std()

In [93]:
feature_Func_orig_train_f = train_data["DiabetesPedigreeFunction"]

In [94]:
feature_Func_orig_test_f = test_data["DiabetesPedigreeFunction"]

In [ ]:
# one_hot features

In [103]:
def age_map(x):
    if x >= 0 and x <= 10:
        return 1
    elif x >= 11 and x <= 20:
        return 2
    elif x >= 21 and x <= 30:
        return 3
    elif x >= 31 and x <= 40:
        return 4
    elif x >= 41 and x <= 50:
        return 5
    elif x >= 51 and x <= 60:
        return 6
    elif x >= 61 and x <= 70:
        return 7
    elif x >= 71 and x <= 80:
        return 8
    elif x >= 81 and x <= 90:
        return 9
    elif x >= 91 and x <= 100:
        return 10
    else :
        return 11

In [115]:
all_age_level = data["Age"].map(age_map)
all_age = pd.get_dummies(all_age_level, prefix= 'age')
train_data_age = all_age[0:691]
test_data_age = all_age[691:]

In [ ]:
#statistical features

In [498]:
age_prob = pd.concat([all_age_level[0:691], data["Outcome"][0:691]], axis = 1).groupby(['Age']).sum(["Outcome"])/691

In [499]:
age_prob

      Outcome
Age
3    0.120116
4    0.099855
5    0.073806
6    0.040521
7    0.008683
8    0.000000
9    0.000000

In [500]:
train_age_frame = all_age_level[0:691].to_frame()
train_age_frame

     Age
0      5
1      4
2      4
3      3
4      4
..   ...
686    3
687    3
688    3
689    5
690    4

[691 rows x 1 columns]

In [501]:
train_age_prob = train_age_frame.join(age_prob, on ="Age")
train_age_prob

     Age   Outcome
0      5  0.073806
1      4  0.099855
2      4  0.099855
3      3  0.120116
4      4  0.099855
..   ...       ...
686    3  0.120116
687    3  0.120116
688    3  0.120116
689    5  0.073806
690    4  0.099855

[691 rows x 2 columns]

In [502]:
test_age_frame = all_age_level[691:].to_frame()
test_age_prob = test_age_frame.join(age_prob, on ="Age").fillna(0)
test_age_prob

     Age   Outcome
691    5  0.073806
692    3  0.120116
693    5  0.073806
694    3  0.120116
695    5  0.073806
..   ...       ...
763    7  0.008683
764    3  0.120116
765    3  0.120116
766    5  0.073806
767    3  0.120116

[77 rows x 2 columns]

In [503]:
feature_train = pd.concat([feature_Preg_orig_train_f, feature_Glucose_orig_train_f, feature_Blood_orig_train_f, 
                           feature_Skin_orig_train_f, feature_Insulin_orig_train_f, feature_BMI_orig_train_f,
                           feature_Func_orig_train_f, train_age_prob
                          ],  axis=1)
feature_test = pd.concat([feature_Preg_orig_test_f, feature_Glucose_orig_test_f, feature_Blood_orig_test_f,
                          feature_Skin_orig_test_f, feature_Insulin_orig_test_f, feature_BMI_orig_test_f,
                          feature_Func_orig_test_f, test_age_prob
                         ],  axis=1)

In [504]:
y_train = data["Outcome"][0:691]
y_test = data["Outcome"][691:]

In [505]:
y_train.shape

(691,)

In [506]:
model = LogisticRegression(random_state=0).fit(feature_train, y_train)

In [507]:
y_pred_test = model.predict(feature_test)

In [508]:
y_pred_train = model.predict(feature_train)

In [509]:
accuracy_score(y_train, y_pred_train)

0.7829232995658466

In [510]:
accuracy_score(y_test, y_pred_test)

0.8051948051948052

In [460]:
print(model.coef_)

[[ 0.49658956  1.09590537 -0.24009722  0.00650061 -0.12891422  0.7484128
   0.92264111]]